.course-div {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 2fr 1fr; /* 4 columns for p elements and 1 for button */
    gap: 10px;
    margin: 10px;
}

header {
    position: sticky;
    top: 0;
    background-color: yellow;
    margin: 0;
}